<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>ptm_ratio</key>
		<real>32</real>
	</dict>
	<key>bodies</key>
	<dict>
		<key>fightingtreel</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 25.000,132.500 }</string>
							<string>{ -25.000,132.500 }</string>
							<string>{ 17.000,85.500 }</string>
						</array>
						<array>
							<string>{ 26.000,-132.500 }</string>
							<string>{ 19.000,-26.500 }</string>
							<string>{ -25.000,-131.500 }</string>
						</array>
						<array>
							<string>{ 17.000,85.500 }</string>
							<string>{ -25.000,132.500 }</string>
							<string>{ -25.000,-131.500 }</string>
							<string>{ 19.000,-26.500 }</string>
							<string>{ 21.000,34.500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>fightingtreer</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -25.000,132.500 }</string>
							<string>{ -18.000,58.500 }</string>
							<string>{ 26.000,132.500 }</string>
						</array>
						<array>
							<string>{ -24.000,-131.500 }</string>
							<string>{ 25.000,-131.500 }</string>
							<string>{ 26.000,132.500 }</string>
							<string>{ -17.000,4.500 }</string>
						</array>
						<array>
							<string>{ -25.000,29.500 }</string>
							<string>{ -17.000,4.500 }</string>
							<string>{ 26.000,132.500 }</string>
							<string>{ -18.000,58.500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>guajian</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>6</real>
						<key>position</key>
						<string>{ 0.500,-0.500 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>long</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>0.3</real>
					<key>friction</key>
					<real>0.3</real>
					<key>restitution</key>
					<real>0.6</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>16</real>
						<key>position</key>
						<string>{ 0.000,1.000 }</string>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
