<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fgtBanana</key>
            <dict>
                <key>frame</key>
                <string>{{484,76},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>fgtBg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>fgtBoy</key>
            <dict>
                <key>frame</key>
                <string>{{466,692},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fgtGrape</key>
            <dict>
                <key>frame</key>
                <string>{{484,30},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>fgtObj</key>
            <dict>
                <key>frame</key>
                <string>{{448,359},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>fgtPear</key>
            <dict>
                <key>frame</key>
                <string>{{484,55},{19,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>fgtSign</key>
            <dict>
                <key>frame</key>
                <string>{{426,460},{14,14}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{14,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>fgtTomato</key>
            <dict>
                <key>frame</key>
                <string>{{484,101},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{19,17}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>fgtTree</key>
            <dict>
                <key>frame</key>
                <string>{{426,444},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>fgtWall</key>
            <dict>
                <key>frame</key>
                <string>{{484,250},{16,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,128}}</string>
                <key>sourceSize</key>
                <string>{16,128}</string>
            </dict>
            <key>fgtWall2</key>
            <dict>
                <key>frame</key>
                <string>{{484,120},{16,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,128}}</string>
                <key>sourceSize</key>
                <string>{16,128}</string>
            </dict>
            <key>pauseAudio</key>
            <dict>
                <key>frame</key>
                <string>{{431,659},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>pauseBg</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{349,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,262}}</string>
                <key>sourceSize</key>
                <string>{349,262}</string>
            </dict>
            <key>pauseBlank</key>
            <dict>
                <key>frame</key>
                <string>{{356,444},{191,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,68}}</string>
                <key>sourceSize</key>
                <string>{191,68}</string>
            </dict>
            <key>pauseBtn</key>
            <dict>
                <key>frame</key>
                <string>{{466,659},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{31,33}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>pauseBtnDown</key>
            <dict>
                <key>frame</key>
                <string>{{353,637},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>pauseContiue </key>
            <dict>
                <key>frame</key>
                <string>{{426,610},{64,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,47}</string>
            </dict>
            <key>pauseMenu</key>
            <dict>
                <key>frame</key>
                <string>{{426,561},{64,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,47}</string>
            </dict>
            <key>pauseMonkey</key>
            <dict>
                <key>frame</key>
                <string>{{448,380},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{62,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pauseNoAudio</key>
            <dict>
                <key>frame</key>
                <string>{{353,680},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>pauseNoVibration</key>
            <dict>
                <key>frame</key>
                <string>{{396,659},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>pauseReplay</key>
            <dict>
                <key>frame</key>
                <string>{{426,512},{64,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,47}</string>
            </dict>
            <key>pauseTOP</key>
            <dict>
                <key>frame</key>
                <string>{{426,483},{67,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,27}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>pauseVibration</key>
            <dict>
                <key>frame</key>
                <string>{{448,324},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>playerAvatar</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>victoryBg</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{352,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,300}}</string>
                <key>sourceSize</key>
                <string>{352,300}</string>
            </dict>
            <key>victoryMonkey</key>
            <dict>
                <key>frame</key>
                <string>{{356,394},{48,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,88}}</string>
                <key>sourceSize</key>
                <string>{50,92}</string>
            </dict>
            <key>victoryNext</key>
            <dict>
                <key>frame</key>
                <string>{{446,434},{64,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,47}</string>
            </dict>
            <key>victoryOrangutan</key>
            <dict>
                <key>frame</key>
                <string>{{356,324},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,90}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>image.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea72895cc7bacb477202c05b36521e22$</string>
            <key>textureFileName</key>
            <string>image.pvr.ccz</string>
        </dict>
    </dict>
</plist>
