<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bigStages</key>
	<array>
		<array>
			<dict>
				<key>time</key>
				<integer>200</integer>
				<key>hightScore</key>
				<integer>89929</integer>
				<key>fruitScore</key>
				<integer>79931</integer>
				<key>allScore</key>
				<integer>812234</integer>
				<key>monkeyCup</key>
				<integer>2</integer>
				<key>isLock</key>
				<false/>
			</dict>
			<dict>
				<key>time</key>
				<integer>200</integer>
				<key>hightScore</key>
				<integer>89929</integer>
				<key>fruitScore</key>
				<integer>79931</integer>
				<key>allScore</key>
				<integer>812234</integer>
				<key>monkeyCup</key>
				<integer>2</integer>
				<key>isLock</key>
				<false/>
			</dict>
			<dict>
				<key>time</key>
				<integer>200</integer>
				<key>hightScore</key>
				<integer>89929</integer>
				<key>fruitScore</key>
				<integer>79931</integer>
				<key>allScore</key>
				<integer>812234</integer>
				<key>monkeyCup</key>
				<integer>2</integer>
				<key>isLock</key>
				<false/>
			</dict>
			<dict>
				<key>time</key>
				<integer>200</integer>
				<key>hightScore</key>
				<integer>89929</integer>
				<key>fruitScore</key>
				<integer>79931</integer>
				<key>allScore</key>
				<integer>812234</integer>
				<key>monkeyCup</key>
				<integer>2</integer>
				<key>isLock</key>
				<false/>
			</dict>
			<dict>
				<key>time</key>
				<integer>200</integer>
				<key>hightScore</key>
				<integer>89929</integer>
				<key>fruitScore</key>
				<integer>79931</integer>
				<key>allScore</key>
				<integer>812234</integer>
				<key>monkeyCup</key>
				<integer>2</integer>
				<key>isLock</key>
				<false/>
			</dict>
			<dict>
				<key>time</key>
				<integer>200</integer>
				<key>hightScore</key>
				<integer>89929</integer>
				<key>fruitScore</key>
				<integer>79931</integer>
				<key>allScore</key>
				<integer>812234</integer>
				<key>monkeyCup</key>
				<integer>2</integer>
				<key>isLock</key>
				<true/>
			</dict>
			<dict>
				<key>time</key>
				<integer>200</integer>
				<key>hightScore</key>
				<integer>89929</integer>
				<key>fruitScore</key>
				<integer>79931</integer>
				<key>allScore</key>
				<integer>812234</integer>
				<key>monkeyCup</key>
				<integer>2</integer>
				<key>isLock</key>
				<true/>
			</dict>
			<dict>
				<key>time</key>
				<integer>200</integer>
				<key>hightScore</key>
				<integer>89929</integer>
				<key>fruitScore</key>
				<integer>79931</integer>
				<key>allScore</key>
				<integer>812234</integer>
				<key>monkeyCup</key>
				<integer>2</integer>
				<key>isLock</key>
				<true/>
			</dict>
			<dict>
				<key>time</key>
				<integer>200</integer>
				<key>hightScore</key>
				<integer>89929</integer>
				<key>fruitScore</key>
				<integer>79931</integer>
				<key>allScore</key>
				<integer>812234</integer>
				<key>monkeyCup</key>
				<integer>2</integer>
				<key>isLock</key>
				<true/>
			</dict>
			<dict>
				<key>time</key>
				<integer>200</integer>
				<key>hightScore</key>
				<integer>89929</integer>
				<key>fruitScore</key>
				<integer>79931</integer>
				<key>allScore</key>
				<integer>812234</integer>
				<key>monkeyCup</key>
				<integer>2</integer>
				<key>isLock</key>
				<true/>
			</dict>
			<dict>
				<key>time</key>
				<integer>200</integer>
				<key>hightScore</key>
				<integer>89929</integer>
				<key>fruitScore</key>
				<integer>79931</integer>
				<key>allScore</key>
				<integer>812234</integer>
				<key>monkeyCup</key>
				<integer>2</integer>
				<key>isLock</key>
				<true/>
			</dict>
			<dict>
				<key>time</key>
				<integer>200</integer>
				<key>hightScore</key>
				<integer>89929</integer>
				<key>fruitScore</key>
				<integer>79931</integer>
				<key>allScore</key>
				<integer>812234</integer>
				<key>monkeyCup</key>
				<integer>2</integer>
				<key>isLock</key>
				<true/>
			</dict>
		</array>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<array/>
	</array>
</dict>
</plist>
